<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meizu.upspushdemo">

    <!-- 小米个性化配置 需要到应用的主manifest中去配置-->
    <!-- the following 2 com.meizu.upspushdemo should be changed to your package name -->
    <permission android:name="com.meizu.upspushdemo.permission.MIPUSH_RECEIVE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.meizu.upspushdemo.permission.MIPUSH_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="XM_APP_ID"
            android:value="2882303761517631454"/>

        <meta-data
            android:name="XM_APP_KEY"
            android:value="5581763188454"/>


        <meta-data
            android:name="MZ_APP_ID"
            android:value="111518"/>

        <meta-data
            android:name="MZ_APP_KEY"
            android:value="81db366f80b84a4f84915de07358bdea"/>

    </application>

</manifest>